@{
    ViewBag.Title = "Acerca de Nosotros";
}
<h2>@ViewBag.Title.</h2>

<p> Somos una empresa Formada por estudiantes de Informatica de 
    la Universidad Autonoma de Asuncion. 
    Tenemos como principal Objetivo brindar un producto simple e intuitivo que ayude a las empresas a
    gestionar su dia a dia mucho mas facil y de una manerea mucho mas rapida por medio de nuestra herramienta web 
    desarrollada para Gestionar Tickets, este sistema puede ser utilizar tanto para gestion de turnos de cajas o citas Diarias.</p>

<p>
    Karen Liuzzi
    Desarrolladora Web
    Desde adolescente siempre me atrajo mucho el mundo de la informatica fue desde estonces que empezo mi viaje en este mundo, desde entonces
    me gusta mucho realizar herramientas o soluciones que puedan ayudar a las personas o empresas a mejorar sus procesos de una manera simple y eficiente,
    subiendo la satisfaccion de los clientes y manteniendo la calidad de los servicios.
</p>
