@{
    ViewBag.Title = "Acerca de Nosotros";
}
<h2>@ViewBag.Title.</h2>

<p> Somos una empresa Formada por estudiantes de Informatica de 
    la Universidad Autonoma de Asuncion. 
    Tenemos como principal Objetivo brindar un producto simple e intuitivo que ayude a las empresas a
    gestionar su dia a dia mucho mas facil y de una manerea mucho mas rapida por medio de nuestra herramienta web 
    desarrollada para Gestionar Tickets, este sistema puede ser utilizar tanto para gestion de turnos de cajas o citas Diarias.</p>



<div class="panel panel-success">
    <div class="panel-heading">
        <h3 class="panel-title">
        <font style="vertical-align: inherit;">
            <font style="vertical-align: inherit;">
                Karen Liuzzi - Desarrolladora Web
            </font>
        </font>
        </h3>
    </div>
    <div class="panel-body">
        <font style="vertical-align: inherit;">
            <font style="vertical-align: inherit;">
                Desde adolescente siempre me atrajo mucho el mundo de la informatica fue desde estonces que empezo mi viaje en este mundo, desde entonces
                me gusta mucho realizar herramientas o soluciones que puedan ayudar a las personas o empresas a mejorar sus procesos de una manera simple y eficiente,
                subiendo la satisfaccion de los clientes y manteniendo la calidad de los servicios.
            </font>
        </font>
    </div>
</div>


<div class="panel panel-success">
    <div class="panel-heading">
        <h3 class="panel-title"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Jose Panza - Analista y Programador</font></font></h3>
    </div>
    <div class="panel-body">
        <font style="vertical-align: inherit;">
            <font style="vertical-align: inherit;">
                Me desempeño como Analista y Programador en una empresa de Informatica llamada CAST S.R.L, ya con 2 años de experiencia, desarrollando aplicaciones WEB y Mobiles
                Brindando soluciones ajustadas a las necesidades de los clientes.
                Busco dia tras dia, mejorar mis habilidades y capacitarme cada vez hasta lograr ser un profesional totalmente consumado del area.

            </font>
        </font>
    </div>
</div>


<div class="modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Jose Panza</h4>
            </div>
            <div class="modal-body">
                <p>Aqui la foto…</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-primary">Aceptar</button>
            </div>
        </div>
    </div>
</div>