@{
    ViewBag.Title = "Acerca de Nosotros";
}
<h2>@ViewBag.Title.</h2>

<p>
    Somos una empresa Formada por estudiantes de Informatica de
    la Universidad Autonoma de Asuncion.
    Tenemos como principal Objetivo brindar un producto simple e intuitivo que ayude a las empresas a
    gestionar su dia a dia mucho mas facil y de una manerea mucho mas rapdia por medio de nuestra herramienta web
    desarrollada para Gestionar Tickets, este sistema puede ser utilizar tanto para gestion de turnos de cajas o citas Diarios
    desarrollada para Gestionar Tickets, este sistema puede ser utilizar tanto para gestion de turnos de cajas o citas Diarios
    desarrollada para Gestionar Tickets, este sistema puede ser utilizar tanto para gestion de turnos de cajas o citas Diarios
    desarrollada para Gestionar Tickets, este sistema puede ser utilizar tanto para gestion de turnos de cajas o citas Diarios
    desarrollada para Gestionar Tickets, este sistema puede ser utilizar tanto para gestion de turnos de cajas o citas Diarios
    desarrollada para Gestionar Tickets, este sistema puede ser utilizar tanto para gestion de turnos de cajas o citas Diarios
    desarrollada para Gestionar Tickets, este sistema puede ser utilizar tanto para gestion de turnos de cajas o citas Diarios

    .
</p>
