@{
    ViewBag.Title = "Pagina Principal";
}

<div class="jumbotron">
    <h1>Sistema de Tickets</h1>
    <p class="lead">Sistema sencillo, simple e intuitivo, para gestion de Turnos por Tickets</p>
    <p><a href="https://localhost:44333/Home/About" class="btn btn-primary btn-lg">Acerca de &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Organizacion</h2>
        <p>
            Tickets Fresh permite la atencion por turnos o citas ayudando a la organizacion a realizar una atencion mucho mas organizada y rapida
        </p>
    </div>
    <div class="col-md-4">
        <h2></h2>
        <p>Al ser una aplicacion web se puede utilizar en cualquier navegador con acceso a internet, tendrá total disponibilidad en cuanto a
        hora y lugar y podrá trabajar en ella en cualquier momento.</p>
    </div>
    <div class="col-md-4">
        <h2>Facil de usar</h2>
        <p>Un sistema amigable con el usuario y muy intuitivo lo que permite una rapida adaptacion y usabilidad ahorrando mucho mas tiempo y esfuerzo</p>
    </div>
</div>